In [1]:
%%capture
!pip install "unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git"

# We have to check which Torch version for Xformers (2.3 -> 0.0.27)
from torch import __version__; from packaging.version import Version as V
xformers = "xformers==0.0.27" if V(__version__) < V("2.4.0") else "xformers"
!pip install --no-deps {xformers} trl peft accelerate bitsandbytes triton
!pip install Gradio
!pip install langchain_community
!pip install sqlalchemy
!pip install sqlite3
!pip install requests

In [ ]:
import re
import requests
import sqlite3
from sqlalchemy import create_engine
from sqlalchemy.pool import StaticPool
from langchain.sql_database import SQLDatabase
import gradio as gr
from unsloth import FastLanguageModel
import pandas as pd
import torch

# Global variables
db = None
connection = None
loaded_model = None
loaded_tokenizer = None
hf_api_key = "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"  # Replace with your actual API key

def connectDatabase(url):
    global db, connection
    response = requests.get(url)
    sql_script = response.text

    # Create an in-memory SQLite database connection
    connection = sqlite3.connect(":memory:", check_same_thread=False)
    cursor = connection.cursor()

    try:
        # Execute the SQL script
        cursor.executescript(sql_script)
        connection.commit()  # Commit the changes to ensure tables are created
        engine = create_engine(
            "sqlite://",
            creator=lambda: connection,
            poolclass=StaticPool,
            connect_args={"check_same_thread": False})
        db = SQLDatabase(engine)
        return "Successfully connected to the database."
    except Exception as e:
        return f"Error connecting to the database: {str(e)}"

def executeQuery(query):
    global connection
    if connection:
        try:
            cursor = connection.cursor()
            cursor.execute(query)
            results = cursor.fetchall()
            columns = [description[0] for description in cursor.description]  # Get column names
            return pd.DataFrame(results, columns=columns)
        except Exception as e:
            return pd.DataFrame({'Error': [f'Error executing query: {str(e)}']})
    else:
        return pd.DataFrame({'Error': ['Please connect to the database first.']})

def getDatabaseSchema():
    if db:
        return db.get_table_info()
    else:
        return "Please connect to the database first."

def extract_sql_statement(response_text):
    pattern = r'### Response:\n(.*?);'
    match = re.search(pattern, response_text, re.DOTALL)
    if match:
        return match.group(1).strip()
    return ""

def getQueryFromLLM(question):
    global loaded_model, loaded_tokenizer
    if not loaded_model or not loaded_tokenizer:
        return None, "Model not loaded. Please load the model first."

    schema = getDatabaseSchema()
    input_prompt = f"""Below is an instruction that describes a task, paired with an input that provides further context. Write a response that appropriately completes the request.

### Instruction:
Generate an SQL query to answer the following question: {question}

### Input:
Database schema:
{schema}

### Response:
"""

    inputs = loaded_tokenizer([input_prompt], return_tensors="pt").to("cuda")
    outputs = loaded_model.generate(**inputs, max_new_tokens=64, use_cache=True)
    generated_response = loaded_tokenizer.batch_decode(outputs, skip_special_tokens=True)[0]

    print(f"Generated Response: {generated_response}")  # Debug output

    query = extract_sql_statement(generated_response)
    print(f"Extracted Query: {query}")  # Debug output

    if query:
        result_df = executeQuery(query)
        return query, result_df
    return None, pd.DataFrame({'Error': ['Failed to generate a valid SQL query.']})

def load_model(model_name):
    global loaded_model, loaded_tokenizer
    try:
        print(f"Loading model: {model_name}...")
        max_seq_length = 2048
        dtype = None
        load_in_4bit = True

        loaded_model, loaded_tokenizer = FastLanguageModel.from_pretrained(
            model_name,
            max_seq_length=max_seq_length,
            dtype=dtype,
            load_in_4bit=load_in_4bit,
        )
        FastLanguageModel.for_inference(loaded_model)
        print("Model loaded successfully.")
        return "Model loaded successfully."
    except Exception as e:
        print(f"Error loading model: {str(e)}")
        return f"Error loading model: {str(e)}"

def chat_with_sql(question, database):
    if not database:
        return [None, "Please connect to a database first."]

    if not loaded_model or not loaded_tokenizer:
        return [None, "Please load the model first."]

    try:
        print(f"Generating query from LLM for question: {question}")
        query, result = getQueryFromLLM(question)
        print(f"Generated query: {query}")

        if query:
            print("Generating response based on query result...")
            response_df = result
            return [question, response_df]
        else:
            return [question, pd.DataFrame({'Error': ['Failed to generate a valid SQL query.']})]

    except Exception as e:
        error_message = f"An error occurred: {str(e)}"
        print(error_message)
        return [question, pd.DataFrame({'Error': [error_message]})]

def clear_history():
    return "", "", []

# Initialize Gradio UI
with gr.Blocks() as demo:
    gr.Markdown("# Chat with SQL DB ðŸ¤–")

    with gr.Row():
        database = gr.Textbox(label="Database", placeholder="ex: https://raw.githubusercontent.com/....sql")
        model = gr.Dropdown(choices=["PlatoisHere/8B_58"], label="Model", value="PlatoisHere/8B_58")

    with gr.Row():
        load_model_btn = gr.Button("Load Model")
        connect_btn = gr.Button("Connect to Database")
        clear_btn = gr.Button("Clear")

    question = gr.Textbox(label="Chat with an SQL database", placeholder="Enter your question here...")
    submit_btn = gr.Button("Submit Question")
    chat_output = gr.Chatbot(height=400)
    dataframe_output = gr.Dataframe(interactive=True)

    def load_model_callback(model_name):
        result = load_model(model_name)
        return [[None, result]], None

    def connect_callback(database):
        result = connectDatabase(database)
        return [[None, result]], None

    def submit_callback(question, database, history):
        response = chat_with_sql(question, database)
        if isinstance(response[1], pd.DataFrame):
            return history + [[question, "Query executed successfully."]], response[1]
        else:
            return history + [response], None

    def clear_history():
        return "", "", [], None

    load_model_btn.click(load_model_callback, inputs=[model], outputs=[chat_output, dataframe_output])
    connect_btn.click(connect_callback, inputs=[database], outputs=[chat_output, dataframe_output])
    submit_btn.click(submit_callback, inputs=[question, database, chat_output], outputs=[chat_output, dataframe_output])
    clear_btn.click(clear_history, inputs=None, outputs=[question, database, chat_output, dataframe_output])

if __name__ == "__main__":
    demo.launch(debug=True)

ðŸ¦¥ Unsloth: Will patch your computer to enable 2x faster free finetuning.
Setting queue=True in a Colab notebook requires sharing enabled. Setting `share=True` (you can turn this off by setting `share=False` in `launch()` explicitly).

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://298eb5099942c7242b.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from Terminal to deploy to Spaces (https://huggingface.co/spaces)

Loading model: PlatoisHere/8B_58...
==((====))==  Unsloth 2024.8: Fast Llama patching. Transformers = 4.44.2.
   \\   /|    GPU: Tesla T4. Max memory: 14.748 GB. Platform = Linux.
O^O/ \_/ \    Pytorch: 2.4.0+cu121. CUDA = 7.5. CUDA Toolkit = 12.1.
\        /    Bfloat16 = FALSE. FA [Xformers = 0.0.27.post2. FA2 = False]
 "-____-"     Free Apache license: http://github.com/unslothai/unsloth
Unsloth: Fast downloading is enabled - ignore downloading bars which are red colored!

Unsloth 2024.8 patched 32 layers with 32 QKV layers, 32 O layers and 32 MLP layers.

Model loaded successfully.
Generating query from LLM for question: Give me the list of all the artists
Generated Response: Below is an instruction that describes a task, paired with an input that provides further context. Write a response that appropriately completes the request.

### Instruction:
Generate an SQL query to answer the following question: Give me the list of all the artists

### Input:
Database schema:

CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	LuÃ­s	GonÃ§alves	Embraer - Empresa Brasileira de AeronÃ¡utica S.A.	Av. Brigadeiro Faria Lima, 2170	SÃ£o JosÃ© dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	KÃ¶hler	None	Theodor-Heuss-StraÃŸe 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	FranÃ§ois	Tremblay	None	1498 rue BÃ©langer	MontrÃ©al	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-StraÃŸe 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	UllevÃ¥lsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	GrÃ©trystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "MediaType" (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE "Playlist" (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from Playlist table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE "PlaylistTrack" (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/

### Response:
SELECT Name FROM Artist;
Extracted Query: SELECT Name FROM Artist
Generated query: SELECT Name FROM Artist
Generating response based on query result...

In [2]:
def connectDatabase(url):
    global db, connection  # Include connection as a global variable
    response = requests.get(url)
    sql_script = response.text

    # Create an in-memory SQLite database connection
    connection = sqlite3.connect(":memory:", check_same_thread=False)
    cursor = connection.cursor()

    try:
        # Execute the SQL script
        cursor.executescript(sql_script)
        connection.commit()  # Commit the changes to ensure tables are created
        engine = create_engine(
            "sqlite://",
            creator=lambda: connection,
            poolclass=StaticPool,
            connect_args={"check_same_thread": False})
        db = SQLDatabase(engine)
        return "Successfully connected to the database."
    except Exception as e:
        return f"Error connecting to the database: {str(e)}"


def listTables():
    global connection
    if connection:
        try:
            # Use the sqlite3 connection directly
            cursor = connection.cursor()
            cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
            tables = cursor.fetchall()
            return pd.DataFrame(tables, columns=['Table Name'])
        except Exception as e:
            return pd.DataFrame({'Error': [f'Error listing tables: {str(e)}']})
    else:
        return pd.DataFrame({'Error': ['Please connect to the database first.']})


def executeQuery(query):
    global connection
    if connection:
        try:
            cursor = connection.cursor()
            cursor.execute(query)
            results = cursor.fetchall()
            columns = [description[0] for description in cursor.description]  # Get column names
            return pd.DataFrame(results, columns=columns)
        except Exception as e:
            return pd.DataFrame({'Error': [f'Error executing query: {str(e)}']})
    else:
        return pd.DataFrame({'Error': ['Please connect to the database first.']})



database = 'query = "SELECT * FROM Employee"  # Example query
results = executeQuery(query)
print(results)
'
query = "SELECT * FROM Employee"  # Example query
results = executeQuery(query)
print(results)

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           1     Adams    Andrew      General Manager        NaN
1           2   Edwards     Nancy        Sales Manager        1.0
2           3   Peacock      Jane  Sales Support Agent        2.0
3           4      Park  Margaret  Sales Support Agent        2.0
4           5   Johnson     Steve  Sales Support Agent        2.0
5           6  Mitchell   Michael           IT Manager        1.0
6           7      King    Robert             IT Staff        6.0
7           8  Callahan     Laura             IT Staff        6.0

             BirthDate             HireDate                      Address  \
0  1962-02-18 00:00:00  2002-08-14 00:00:00          11120 Jasper Ave NW
1  1958-12-08 00:00:00  2002-05-01 00:00:00                 825 8 Ave SW
2  1973-08-29 00:00:00  2002-04-01 00:00:00                1111 6 Ave SW
3  1947-09-19 00:00:00  2003-05-03 00:00:00             683 10 Street SW
4  1965-03-03 00:00:00  2003-10-17 00:00:00                 7727B 41 Ave
5  1973-07-01 00:00:00  2003-10-17 00:00:00         5827 Bowness Road NW
6  1970-05-29 00:00:00  2004-01-02 00:00:00  590 Columbia Boulevard West
7  1968-01-09 00:00:00  2004-03-04 00:00:00                  923 7 ST NW

         City State Country PostalCode              Phone                Fax  \
0    Edmonton    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
1     Calgary    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2     Calgary    AB  Canada    T2P 5M5  +1 (403) 262-3443  +1 (403) 262-6712
3     Calgary    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
4     Calgary    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
5     Calgary    AB  Canada    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899
6  Lethbridge    AB  Canada    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485
7  Lethbridge    AB  Canada    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772

                      Email
0    andrew@chinookcorp.com
1     nancy@chinookcorp.com
2      jane@chinookcorp.com
3  margaret@chinookcorp.com
4     steve@chinookcorp.com
5   michael@chinookcorp.com
6    robert@chinookcorp.com
7     laura@chinookcorp.com